appdirs==1.4.3
cairocffi==0.8.0
CairoSVG==2.0.1
cffi==1.9.1
contextlib2==0.5.4
cssselect==1.0.1
dj-database-url==0.4.2
Django==1.10.5
django-annoying==0.10.3
django-appconf==1.0.1
django-environ==0.4.1
django-image-cropping==1.0.4
django-pdfkit==0.2.1
easy-thumbnails==2.3
gunicorn==19.7.0
html5lib==0.999999999
lxml==3.7.3
nodeenv==1.1.2
olefile==0.44
packaging==16.8
pdfkit==0.6.0
Pillow==4.0.0
pycparser==2.17
pyparsing==2.2.0
PyPDF2==1.26.0
Pyphen==0.9.4
raven==6.0.0
reportlab==3.3.0
six==1.10.0
tinycss==0.4
WeasyPrint==0.36
webencodings==0.5
whitenoise==3.3.0
xhtml2pdf==0.0.6
psycopg2==2.6.2