
#Navbar {
	height: 50px;
}
#Navbar img {
	width: 80px;
	height: auto;

}
.carousel {
	background-color: black;
}
.carousel img {
	max-width: 100%;
	height: auto;
	margin:auto;
	/*padding-top: 55px;*/

}

#Message {
	padding-top: 100px;
}



#Logo {
	display: block;
	margin: auto;
	border-bottom: 1px solid lightgray;
	/*border: 1px solid red;*/
}
#Logo img {
	display: block;
	margin: auto;
	max-width: 75%;
	height: auto;
	padding-bottom: 40px;
}

#Description {
	padding-bottom: 40px;
	padding-top: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid lightgray;
}
#Description h2 {
	font-family: Great Vibes, cursive;
	color: #81D2BC;
	text-shadow: 1px 1px 4px black;
}
#Inclusivity {
	padding-bottom: 40px;
	padding-top: 40px;
	font-size: small;
	margin: auto;
	max-width: 80%;
	margin-bottom: 40px;

}
.media img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	width: 20%;
	max-width: 200px;
	height: auto;
}
.card-header {
	background-color: #81D2BC;
	color: black;
}
.ensemble {
	margin-top: 40px;
	margin-bottom: 40px;
}
.ensemble img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	width: 75%;
	max-width: 600px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}
#Content {
	min-height: calc(100vh - 100px);
	/*background-color: white;*/
}

#Contact {
	border-bottom: 1px solid lightgray;
	margin-bottom: 80px;
	padding-bottom: 20px;
}
.musician_bio {
	border-bottom: 1px solid lightgray;
	padding-bottom: 40px;
	padding-top: 40px;
}


footer {
	display: block;
	background-color: #81D2BC;
	font-size: small;
	margin-top: 50px;
	margin-bottom: 0px;
	height: 60px;
	padding: 5px;
}
footer img {
    align-content: center;
}

