{% extends 'admin/change_form.html' %}
{% load i18n %}
{% block submit_buttons_bottom %}
{{ block.super }}
<div class ='submit-row list-group'>
    <input type="button" value="Send Selections Form"  name="send_selections" onclick="location.href='/send_selections/{{ original.pk }}';" />

</div>
<div class='submit-row list-group'>
    <input type="button" value="View Contract Page"  name="view_contract" onclick="location.href='/contract/{{ original.pk }}';" />
    <input type="button" value="View Contract PDF"  name="send_pdf" onclick="location.href='/contract/pdf/{{ original.pk }}';" />
    <input type="button" value="Send Contract Link"  name="send_link" onclick="location.href='/contract/link/{{ original.pk }}';" />
    <input type="button" value="Notify Musicians"  name="email_musicians" onclick="location.href='/notify_players/{{ original.pk }}';" />
</div>
{% endblock %}

