{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'booker/css/email/app.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My Drip Email Template Subject</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <!--
            
            <container class="header">
              <row class="collapse">
                <columns>
                  <img src="http://placehold.it/150x30/663399" alt="">
                </columns>
              </row>
            </container>
            -->
            
            <table class="spacer float-center"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
            <table align="center" class="container body-drip float-center"><tbody><tr><td>
            
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
              <center data-parsed="">
                <img src="{% static 'booker/images/site/fullcolor_FINAL.png' %}" width="120px" height="120px" alt="" align="center" class="float-center">
              </center>
            
              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
            
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <h4 class="text-center">Booking Inquiry Recieved</h4>
                  <p class="text-center">{{event.client_name}} | {{event.event_type }}  | {{event.event_date}}</p>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            
              <hr>
            
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <p class="text-center">Hello Ellen, You have received a booking inquiry from {{ client_name }} through the Oread Strings.  Please click here {{ link }} to view the inquiry. {{user}} {{purchase}}Thanks and have a lovely day.  </p>
                  <center data-parsed="">
                    <table class="button success float-center"><tr><td><table><tr><td><a href="#">View Inquiry &rarrtl;</a></td></tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            
              <table class="row collapsed footer"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table> 
                  <p class="text-center">@copywrite 2017<br>
                  <a href="mailto:info@oreadstrings.com">info@oreadstrings.com</a> | <a href="http://oreadstrings.com">Oread Strings</a> | <a href="#">Unsubscribe</a></p>
                  <center data-parsed="">
<!--
                    <table align="center" class="menu float-center"><tr><td><table><tr>
                      <th class="menu-item float-center"><a href="undefined"><img src="http://placehold.it/25/663399" alt=""></a></th>
                      <th class="menu-item float-center"><a href="undefined"><img src="http://placehold.it/25/663399" alt=""></a></th>
                      <th class="menu-item float-center"><a href="undefined"><img src="http://placehold.it/25/663399" alt=""></a></th>
                      <th class="menu-item float-center"><a href="undefined"><img src="http://placehold.it/25/663399" alt=""></a></th>
                      <th class="menu-item float-center"><a href="undefined"><img src="http://placehold.it/25/663399" alt=""></a></th>
                    </tr></table></td></tr></table>
-->
                  </center>
                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            
            </td></tr></tbody></table>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

