{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>the Oread Strings</title>  
    	<meta charset="utf-8">
		<meta name="description" content="Oread Strings - String Ensembles for Special Events">
		<meta name="keywords" content="Oread Strings, weddings, private events, corporate events, meetings, string quartet, soloist, classical, music">
		<meta name="author" content="Kill Creek Web Design">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
           
        <link rel="stylesheet" href="{% static 'booker/css/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        
        {% block head %}{% endblock head %}
	
	</head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <a class="navbar-brand" href="{% url 'index' %}">Oread Strings</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home </a></li>
                    <li class="nav-item"><a class='nav-link' href="{% url 'musicians' %}">Musicians</a></li>
                    <li class="nav-item"><a class='nav-link' href="{% url 'ensembles' %}">Ensembles</a></li>
                    <li class="nav-item"><a class='nav-link' href="{% url 'listen' %}">Listen</a></li>
                    <li class="nav-item"><a class='nav-link' href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class='nav-link' href="{% url 'bookings' %}">Bookings</a></li>
                </ul>
            </div>
        </nav>
      
        
<!--		Carousel-->
        <div id='Top' class='container'>{% block top %}{% endblock top %}</div>
              
        <div id='Main' class ='container'>{% block content %}{% endblock content %}</div>
        
        <footer class='container'>
                    <a href="http://www.w3.org/html/logo/"><img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" ></a>
                    <a title="test" href="http://www.hrc.org"><img src="{% static 'booker/images/site/django-logo-positive.png' %}"  alt="Django Logo" width="120" height="41.8" ></a>
                    <h6 >This site is standards compliant and built with Django, HTML5, CSS3, Javascript, and Jquery</h6>
        	       <h6>&copy; Copyright 2017 <a title="mailto:killcreekaudio@gmail.com" href="mailto:killcreekaudio@gmail.com">Kill Creek Web Design</a></h6>	
        </footer>
        
<!--Scripts        -->
<!--		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        

    {% block scripts %}{% endblock scripts %}
    
    </body>
     
</html>

