{% extends 'booker/summary.html' %}

{% block summary_script %}
    <script>
        $(function () {
            var event_type = $('#outdoor-event').html();
            if (event_type == 'Outdoors: Yes') {
                $('#outdoor').show();
            } else {
                $('#outdoor').hide();
            }
        });

    </script>
{% endblock %}

{% block top_sum %} 
    <h1>Hello {{ event.client_name }}!</h1>
    <h3>Please review the details of your event:</h3>
    <h5>To confirm your booking, a 50% deposit is required. To pay with Paypal, follow the link at the bottom of the form.</h5>
    <br>
{% endblock %}


{% block bottom_sum %}
    <h4>Performance Fee:</h4>
    <ul class="list-group">
        <li class="list-group-item">Total Fee: ${{ event.fee }} due on {{ event.balance_duedate }}</li>
        <li class="list-group-item">Deposit Amount: ${{ event.deposit }} due on {{ event.deposit_duedate }}</li>    
    </ul>
    <br>

    <h5>Terms of Agreement</h5>
    <div id="Terms">
        <ul>
            <li>Cancellation of the engagement by the CLIENT for any reason shall forfeit the deposit. Cancellation of the engagement by the CLIENT within 90 days of the date of engagement shall also require payment of the balance to the THE OREAD STRINGS, unless the same ensemble is re-booked by the CLIENT for a mutually agreeable date within 30 days of the canceled date. </li>

            <li>If THE OREAD STRINGS or the CLIENT must cancel the engagement due to an Act of God, "Force Majeure", riot, strike, epidemic, or by the order of any public authority, this contract shall become null and void, all deposit and balance payments shall be refunded, and both parties shall have no further legal recourse against each other.</li>

            <li>The CLIENT will provide straight-backed chairs without arms for each performing musician in THE OREAD STRINGS.</li>

            <li>A completed Music Selections Form is due TWO WEEKS PRIOR to the event date. If no musical selections are provided by the CLIENT, THE OREAD STRINGS reserves the right to choose music selections on behalf of the CLIENT. </li>

            <li>Parking must be provided at the performance location(s) at no charge to THE OREAD STRINGS.</li>

            <li>Due to obligations to other clients, THE OREAD STRINGS may not be able to stay longer than the time period specified on the contract. If the event runs more than 15 minutes behind schedule, THE OREAD STRINGS reserves the right to assess overage fees in the amount of $100 per musician. </li>

            <li>THE OREAD STRINGS attire will be concert black unless otherwise specified. </li>

            <li>THE OREAD STRINGS arrival time will be 20-30 minutes prior to performance time.</li>
            <li id='outdoor'>For OUTDOOR events, the CLIENT is responsible for providing cover for the musicians, in the form of a canopy tent, or other structure offering protection from direct sunlight. The CLIENT is responsible to provide an alternate indoor location in the event of inclement weather. The client agrees to pay the full amount contracted once THE OREAD STRINGS have arrived at the event location, even if THE OREAD STRINGS cannot perform due to inclement weather. THE OREAD STRINGS reserve the right to refrain from performance if weather or lack of protection from the elements creates a situation potentially damaging to their instruments.</li>
        </ul>
    </div>


    <p>To print this contract as a PDF, please click here.
    <input type="button" value="Click here for PDF"  name="PDF" onclick="location.href='/contract/pdf/{{event.pk}}' " />
    <br>


    <h4>Pay your deposit now:</h4>
    <p>To reserve your booking, please click the link to pay your deposit.
    <br>
    {{ form.render }}
    <h3>Thank you!</h3>

{% endblock %}




{% block script %}
{% endblock %}