{% extends 'booker/base.html' %}
{% block content %}


<h1>Available Ensembles</h1>
<p>Below are our most common ensemble arrangements, but we are always happy to create a custom solution for you.</p>


{% for ensemble in ensembles %}
<div class='ensemble card' >
<p class="card-header"><strong>{{ ensemble.name }}:</strong> {{ ensemble.description }}</p>
    <img src='/media/{{ ensemble.photo }}'alt="{{ ensemble.name }}" class='card-img-top rounded'>
    <div class='card-block'>
    
    {# <p class='card-text'>{{ ensemble.description }}</p> #}
   </div>
   
</div>
<br>
{% endfor %}


{% endblock content %}