{% extends "booker/base.html" %}
{% load static from staticfiles %}
{% block head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<link href="{% static 'booker/css/vendor/jquery-ui-timepicker-addon.min.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'booker/js/vendor/jquery-ui-sliderAccess.js' %}"></script>
<script type="text/javascript" src="{% static 'booker/js/vendor/jquery-ui-timepicker-addon.min.js' %}"></script>

{% endblock head %}
{% block content %}
    
    <div id="Contact" class="text-center">
        <h1>Contact Us!</h1>
        <p>For booking inquiries and rate information, please contact:<a title="mailto:oreadstrings@gmail.com" href="mailto:oreadstrings@gmail.com">oreadstrings@gmail.com</a> or call Ellen at<a href="tel:1-785-331-5926"> (785) 331-5926</a> or simply fill out the form below and we will be in touch.</p>
    </div>
    <div id="Booking-Form">
        <h1 class="text-center">Request a Booking</h1>
        <div class='form-group'>
            <form action='' method="post" >

                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value='Submit Booking Inquiry' class="btn btn-sm btn-primary">
                <input type="reset" value='Reset Form' class="btn btn-sm btn-secondary">
            </form>
        </div>
    </div>

{% endblock content %}


{% block scripts %}
<script>
    $(function() {
//        standard Jquery UI
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "2017:2050",
            minDate: 0,
    });
  });
    $(function() {
//        http://trentrichardson.com/examples/timepicker/
        $( ".timepicker" ).timepicker({
            stepMinute: 15,
            hourMin: 9,
            timeFormat: 'hh:mm tt',
            addSliderAccess: true,
            sliderAccessArgs: { touchonly: false },
        });
    });
    var event_type = $('#id_event_type').val();
    if (event_type !== 'wedding') {
        $('#id_wedding_options').hide();
        $('#id_wedding_options').labels().hide();
//        $('#id_performers_required_time').hide();
//        $('#id_performers_required_time').labels().hide();
        
    }
    $(function(){
        $("#id_event_type").change(function(){
            var status = this.value;
            if(status=="wedding") {
                $("#id_wedding_options").show();
                $("#id_wedding_options").labels().show();
                $("#id_performers_required_time").hide();
                $("#id_performers_required_time").labels().hide();
            } else {
                $("#id_wedding_options").hide();
                $("#id_wedding_options").labels().hide();
                $("#id_performers_required_time").show();
                $("#id_performers_required_time").labels().show();
            }
        });
    });
</script>

{% endblock scripts %}

