{% extends 'booker/base.html' %}

{% block content %}
    <h1>Thank You {{ event.client_name }}!</h1>
    <p>You have successfully submitted your musicial selections  your event on {{ event.event_date }}</p>
    <h3>Summary of Selections</h3>
    <ul id ='selections'>
        <li>Prelude: {{ selectionlist.prelude }}</li> 
        <li>Processional: {{ selectionlist.processional }}</li>
        <h6>Processional Details:</h6>
        <ul id ='processional_details'>
            <li>Grandmothers? {{ selectionlist.grandmothers|yesno:"yes,no," }} {{ selectionlist.num_grandmothers|default_if_none:""}}</li>
<!--            <li>How Many? {{ selectionlist.num_grandmothers }}</li>-->
            <li>Mothers? {{ selectionlist.mothers|yesno:"yes,no," }} {{selectionlist.num_mothers|default_if_none:"" }}</li>
<!--            <li>How Many? {{ selectionlist.num_mothers }}</li>-->
<!--            <li>Bridesmaids? {{ selectionlist.bridesmaids }}</li>-->
            <li>How Many Bridesmaids? {{ selectionlist.num_bridesmaids|default_if_none:"" }}</li>
            <li>Flower Girls or Ring Bearers? {{ selectionlist.flowerrings|yesno:"yes,no," }}</li>
            <li>How Many Flower Girls? {{ selectionlist.num_flowers|default_if_none:"" }}</li>
             <li>How Many Ring Bearers? {{ selectionlist.num_rings|default_if_none:"" }}</li>
        </ul>
        <li>Bridal Entrance: {{ selectionlist.bridal|default_if_none:"" }}</li>
        <li>Unity Ceremony: {{ selectionlist.unity|default_if_none:"" }}</li>
        <li>Communion Ceremony: {{ selectionlist.communion|default_if_none:"" }}</li>
        <li>Other Selections: {{ selectionlist.other|default_if_none:"" }}</li>
        <li>Recessional: {{ selectionlist.recessional|default_if_none:"" }}</li>
        <li>Postlude: {{ selectionlist.postlude|default_if_none:"" }}</li>
    </ul>
 <input type="button" value="Edit Selections"  name="return" onclick="location.href='/selections/{{ selectionlist.pk }}';" />
{% endblock %}